@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Play&family=Playfair+Display&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif,'Dancing Script','Playfair Display';
}
